*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserant", sans-serif;
}

body{
    --box-bg-color: #EEF2F4;
    --main-layout-bg-color: #ffffff;
    --active-color: #00AB68;
    --dark-layout-color: #d3dae0;
    --primary-color: #00AC6A;
    --primary-opacity: rgba(0, 172, 106, 0.11);
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}