* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  --box-bg-color: "#f5f7f8";
  --main-layout-bg-color: "#dbe2e7";
  --active-color: "#19a36e";
  --dark-layout-color: "#d3dae0";
}
